#/etc/systemd/system/HAP-python.service
[Unit]
Description = HAP-python daemon
#Wants = pigpiod.service  # Remove this if you don't depend on pigpiod
After = local-fs.target network-online.target #pigpiod.service

[Service]
User = root  # It's a good idea to use some unprivileged system user
# Script starting HAP-python, e.g. main.py
# Be careful to set any paths you use, e.g. for persisting the state.
ExecStart = /usr/bin/python3 /home/pi/git/HAP-python/main.py

[Install]
WantedBy = multi-user.target